* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #181818;
}

.navbar {
  width: 85%;
  height: 20vh;
  margin: auto;
  padding: 35px 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #fff;
  color: black;
}

.navbar ul li {
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  margin: 0 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

@media screen and (min-width: 0px) and (max-width: 812px) {
  .navbar ul li {
    display: none;
  } /* hide navbar li */
}

@media screen and (min-width: 812px) and (max-width: 2012px) {
  .nav-menu {
    display: none;
  } /* show navbar menu */
}

.landing-title {
  color: #fff;
  font-weight: 500;
  font-size: 80px;
  line-height: 120px;
  text-align: center;
  letter-spacing: 0.2px;
}

.landing-paragraph {
  color: #fff;
  font-weight: 125;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
}

.landing-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.try-for-free-button {
  background-color: #4452fe;
  color: #fff;
  border: 1px solid #4452fe;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.learn-more-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}
