* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #181818 !important;
  color: #fff !important;
  overflow-x: hidden !important;
}
// p {
//   padding: 20px;
//   // white-space: nowrap;
// }

//NAVBAR

.navbar {
  width: 95%;
  height: 20vh;
  margin: auto;
  padding: 35px 100;
  display: flex;
  align-items: center;
  // justify-content: space-around;
}

// .nav-logo {
//   float: left;
// }

.nav-button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #fff;
  color: black;
}

.navbar ul li {
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  margin: 0 20px;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: capitalize;
}

@media screen and (min-width: 0px) and (max-width: 880px) {
  .navbar ul li {
    display: none;
  } /* hide navbar li */
}

@media screen and (min-width: 880px) and (max-width: 2012px) {
  .nav-menu {
    display: none;
  } /* show navbar menu */
}

.nav-menu {
  right: 0;
  top: 0;
}

//LANDING

.landing-title {
  font-weight: 500;
  font-size: 80px;
  line-height: 120px;
  text-align: center;
  letter-spacing: 0.2px;
}

@media screen and (min-width: 0px) and (max-width: 812px) {
  .landing-title {
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 62px;
    /* or 119% */

    text-align: center;
    letter-spacing: 0.2px;
  }
}
.landing-paragraph {
  font-weight: 125;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
}
@media screen and (min-width: 0px) and (max-width: 812px) {
  .landing-title {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    text-align: center;
    letter-spacing: 0.2px;
  }
}

.landing-buttons {
  display: flex;
  // margin: 100px;
  align-items: center !important;
  justify-content: center !important;
  white-space: initial;
}

@media screen and (min-width: 0px) and (max-width: 812px) {
  .landing-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
}

@media screen and (min-width: 0px) and (max-width: 812px) {
  .landing-title {
    font-weight: 250;
    font-size: 40px;
    line-height: 50px;
  }
  .landing-paragraph {
    font-weight: 62.5;
    font-size: 10px;
    line-height: 15px;
  }
}

.try-for-free-button {
  background-color: #4452fe !important;
  border: 1px solid #4452fe !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.learn-more-button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.screen-images {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-image: linear-gradient(#181818, #0e0e0e) !important;
  top: 73.44%;
  bottom: 0%;

  background: linear-gradient(180deg, rgba(30, 30, 30, 0) 0%, #0e0e0e 100%);
}

.landing-img {
  background-image: linear-gradient(#181818, #000000) !important;
  max-width: 100%;
  height: auto;
}

.features {
  margin-top: 100px;
  padding-top: 50px;
}

@media screen and (min-width: 0px) and (max-width: 812px) {
  .features p {
    padding: 10px;
  }
}

.features h2 {
  position: static;
  left: 5.18%;
  right: 5.18%;
  top: 12.2%;
  bottom: 12.2%;
  text-align: center;

  /* Second Headline */

  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 62px;
  /* identical to box height, or 119% */

  letter-spacing: 0.2px;
}

.features p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  text-align: center;
  letter-spacing: 0.2px;
}

.frame {
  position: static;
  width: 752px;
  height: auto;
  // left: 0px;
  // top: 0px;
  float: left;

  /* Inside Auto Layout */

  // flex: none;
  // order: 0;
  // flex-grow: 0;
  // margin: 0px 27px;
  // list-style-type: none;
}

@media screen and (min-width: 0px) and (max-width: 1275px) {
  .frame {
    width: 80%;
    height: auto;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.frame-header {
  margin-top: 70px;
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  letter-spacing: 0.1px;
  list-style-type: none;

  white-space: initial;
  text-align: center;
}

.frame-text {
  padding: 0;
}

.frame-paragraph {
  margin-top: 15px;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.2px;
  white-space: initial;
  text-align: center;
}

//content
.contents {
  margin-top: 100px;
  padding-top: 50px;
}

.contents-header {
  position: static;
  // left: 5.18%;
  // right: 5.18%;
  // top: 12.2%;
  // bottom: 12.2%;
  text-align: center;

  /* Second Headline */

  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 62px;
  /* identical to box height, or 119% */

  letter-spacing: 0.2px;
}

.contents-paragraph {
  font-weight: 125;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
}

@media screen and (min-width: 0px) and (max-width: 812px) {
  .contents-paragraph {
    padding: 10px;
  }
}

.contents-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

@media screen and (min-width: 0px) and (max-width: 812px) {
  .contents-cards {
    flex-direction: column;
  }
}

.contents-card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;

  position: static;
  width: 476px;
  height: 624.52px;
  // left: 0px;
  // top: 0px;

  /* light background */

  background: #ffffff !important;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  /* shadow */

  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.contents-card-1-header {
  background-color: white !important;
  color: #000000 !important;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.1px;
}

.contents-card-1-paragraph {
  background-color: white !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;
  letter-spacing: 0.2px;

  /* second text */

  color: #5c5c5c !important;
}

.contents-card-1-btn {
  background-color: white !important;
  background-color: #4452fe !important;
  border: 1px solid #4452fe !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.contents-card-1-img {
  background-color: white !important;
  position: static;
  width: 405.12px;
  height: 226.52px;
  left: 35.44px;
  top: 358px;

  /* Inside Auto Layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 57px 0px;
}

.contents-card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;

  position: static;
  width: 476px;
  height: 620px;
  // left: 509px;
  // top: 2.26px;

  /* light background */

  background: #ffffff !important;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  /* shadow */

  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  /* Inside Auto Layout */

  // flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 33px;
}

@media screen and (min-width: 0px) and (max-width: 812px) {
  .contents-card-1 {
    margin: 50px !important;
    width: 80%;
    height: auto;
    padding: 32px;
  }
  .contents-card-1-img {
    width: 80%;
    height: auto;
  }
}

@media screen and (min-width: 0px) and (max-width: 812px) {
  .contents-card-2 {
    width: 80%;
    height: auto;
    padding: 32px;
  }
  .contents-card-2-img {
    width: 80% !important;
    height: auto !important;
  }
}

.contents-card-2-header {
  background-color: white !important;
  color: #000000 !important;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.1px;
}

.contents-card-2-paragraph {
  background-color: white !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;
  letter-spacing: 0.2px;

  /* second text */

  color: #5c5c5c !important;
}

.contents-card-2-btn {
  background-color: white !important;
  background-color: #4452fe !important;
  border: 1px solid #4452fe !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.contents-card-2-img {
  background-color: white !important;
  position: static;
  width: 379px;
  height: 276px;
  left: 48.5px;
  top: 304px;

  background: url(.jpg);
  /* shadow */

  // filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
  // border-radius: 14px;

  /* Inside Auto Layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 30px 0px;
}

//gallery

.gallery {
  margin-top: 100px;
  padding-top: 50px;
}

@media screen and (min-width: 0px) and (max-width: 812px) {
  .gallery-cards {
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    width: 80%;
    height: auto;
  }
}
@media screen and (min-width: 812px) and (max-width: 2012px) {
  .mobile-gallery-cards {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 812px) {
  .gallery-cards {
    display: none;
  }
  .mobile-gallery-cards {
    display: grid;
    // text-align: center;
    // justify-content: center;
    // align-items: center;
  }
  .mbl-card,
  .mbl-card-1,
  .mbl-card-2,
  .mbl-card-3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.mbl-card,
.mbl-card-1,
.mbl-card-2,
.mbl-card-3 {
  border-radius: 5%;
  padding: 10px;
}

.gallery h2 {
  position: static;
  left: 5.18%;
  right: 5.18%;
  top: 12.2%;
  bottom: 12.2%;
  text-align: center;

  /* Second Headline */

  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 62px;
  /* identical to box height, or 119% */

  letter-spacing: 0.2px;
}

@media screen and (min-width: 0px) and (max-width: 812px) {
  .gallery p {
    padding: 10px;
  }
}

.gallery p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  text-align: center;
  letter-spacing: 0.2px;
}

.gallery-cards {
  // display: inline-block;
  margin: 0px;

  margin: 0 auto;
  text-align: center;
  //   align-items: center;
  //   justify-content: center;
  // margin-left: auto;
  // margin-right: auto;
}

// @media screen and (min-width: 0px) and (max-width: 812px) {
//   .gallery-cards {
//     display: hide;
//   }
// }

.gallery-button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  //   display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin-left: auto;
  // margin-right: 45%;
  margin: 50px 0px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

//partners

.partners {
  margin-top: 100px;
  padding-top: 50px;
}

@media screen and (min-width: 0px) and (max-width: 812px) {
  .partners-paragraph {
    padding: 10px;
  }
}

.partners-header {
  position: static;
  left: 5.18%;
  right: 5.18%;
  top: 12.2%;
  bottom: 12.2%;
  text-align: center;

  /* Second Headline */

  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 62px;
  /* identical to box height, or 119% */

  letter-spacing: 0.2px;
}

.partners-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  text-align: center;
  letter-spacing: 0.2px;
}

.logos-1,
.logos-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  // float: left;
  // margin: 20px;
  // padding: 20px;
}

.partners-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

@media screen and (min-width: 0px) and (max-width: 812px) {
  .partners-logos {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.partners-button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  //   display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 50px 0px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.apple,
.apiary,
.android,
.basecamp,
.airbnb,
.ibm {
  margin: 30px 44px;
}

@media screen and (min-width: 0px) and (max-width: 812px) {
  .apple,
  .apiary,
  .android,
  .basecamp,
  .airbnb,
  .ibm {
    margin: 10px 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

//testimonials

.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: c;
  margin-top: 100px;
  padding-top: 50px;

  // position: static;
  // width: 883px;
  // height: 652px;
  // left: 348px;
  // top: 182px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 50px 0px;
}

// @media screen and (min-width: 0px) and (max-width: 912px) {
//   .testimonials-ul {
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     padding: 0;
//     // margin: 0px 10px;

//     display: grid;
//     // justify-content: center;
//     // align-items: center;
//   }
// }
@media screen and (min-width: 0px) and (max-width: 933px) {
  .testimonials-ul {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    padding: 0;
    // margin: 0px 10px;

    display: grid;
    // justify-content: center;
    // align-items: center;
    overflow: hidden !important;
  }
  .testimonial-1,
  .testimonial-2,
  .testimonial-3,
  .testimonial-4 {
    width: 330px !important;
    height: 376px !important;
    overflow: hidden !important;
  }
}
.testimonials-header {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 62px;
  /* identical to box height, or 119% */

  letter-spacing: 0.2px;
}

.testimony {
  overflow: hidden !important;
}

.testimonial-1 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #dedede;
  border-radius: 10px;
  position: static;
  width: 430px;
  height: 328px;
  // left: 0px;
  // top: 0px;
  overflow: hidden !important;
  float: left;
  margin: 5px 10px;
}

.testimonial-2 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #dedede;
  border-radius: 10px;
  position: static;
  width: 430px;
  height: 328px;
  left: 0px;
  top: 0px;
  overflow: hidden !important;
  // float: right;

  margin: 5px 10px;
}

.testimonial-3 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #dedede;
  border-radius: 10px;
  position: static;
  width: 430px;
  height: 328px;
  left: 0px;
  top: 0px;
  overflow: hidden !important;
  float: left;
  margin: 5px 10px;
}

.testimonial-4 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #dedede;
  border-radius: 10px;
  position: static;
  width: 430px;
  height: 328px;
  left: 0px;
  top: 0px;
  overflow: hidden !important;
  // float: right;

  margin: 10px 10px;
}
.testimonials img {
  size: 50px;
  height: 50px;
}

//CTA
.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-top: 50px;
}

.cta {
  border: 1px solid #343434 !important;
  background-color: #343434 !important;
  border-radius: 33px;
  position: static;
  width: 1219px;
  height: 370px;
  left: calc(50% - 1219px / 2);
  top: 80px;
  overflow: hidden;
}

.cta-header {
  // position: static;
  // left: 2%;
  // right: 2%;
  // top: 0%;
  // bottom: 0%;

  /* Second Headline */

  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 62px;
  /* or 119% */

  letter-spacing: 0.2px;

  /* light text */

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px;
  background-color: #343434 !important;
}

.cta-btn {
  background-color: white !important;
  background-color: #4452fe !important;
  border: 1px solid #4452fe !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: static;
  width: 232px;
  // height: 52px;
  // left: 94px;
  // top: 178px;
  // margin: 61.5px;
  overflow: hidden;
}

.cta-img {
  position: relative;
  // width: 585px;
  // height: 453.43px;
  // left: 2px;
  // top: -44.71px;
  background-color: #343434 !important;
  // width: 589px;
  // height: 364px;
  // float: right;
  width: 30%;
  // float: inline-start;
  // position: fixed;
  left: 620px;
  top: 17px;
}

@media screen and (min-width: 933px) and (max-width: 2012px) {
  .mobile-cta-img {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 933px) {
  // .cta {
  //   border: none;
  //   border-radius: 0px;
  //   background-color: #181818 !important;
  // }

  // .cta-btn {
  //   display: none;
  // }
  // .cta-img {
  //   background-color: #181818 !important;
  // }
  // .cta-header {
  //   display: none;
  // }

  .cta-section {
    background-color: #1e1e1e !important;
  }
  // .cta,
  // .cta-btn,
  .cta-img {
    display: none;
    border: none;
    border-radius: 0px;
    background-color: #181818 !important;
  }
  .cta {
    border: 0px !important;
    border-radius: 0px !important;
    background-color: #1e1e1e !important;
  }
  .cta-header {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;

    white-space: initial;
    text-align: center;
    border: 0px;
    border-radius: 0px;
    background-color: #1e1e1e !important;
  }
  .cta-btn {
    border: none;
    border-radius: 0px;
    background-color: #4452fe !important;
    display: block;

    margin-left: auto;
    margin-right: auto;
  }

  .mobile-cta-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #1e1e1e !important;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

//FOOTER

.footer-clean {
  padding: 50px 0;
  background-color: #181818;
  color: #fff;
  //   display: inline-block;
}

.footer-clean h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

// @media (max-width: 767px) {
//   .footer-clean .item {
//     text-align: center;
//     padding-bottom: 20px;
//   }
// }

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0px;

  position: static;
  width: 170.96px;
  height: 80.99px;
  left: 0px;
  top: 110px;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 10px 0px;
}

.twitter {
  width: 40.99px;
  height: 40.99px;
  left: 0px;
  top: 20px;
}
.facebook {
  width: 40.99px;
  height: 40.99px;
  left: 0px;
  top: 20px;
  float: left;
}
.linkedin {
  width: 40.99px;
  height: 40.99px;
  left: 0px;
  top: 20px;
  float: left;
}
